---
name: Prepare Release

on:
  workflow_dispatch:
    inputs:
      branch:
        description: 'the branch to prepare the release against'
        required: true
        default: 'main'
      tag:
        description: 'the tag to be released'
        required: true

jobs:
  prepare:
    name: Prepare Release
    runs-on: 'ubuntu-latest'
    permissions:
      contents: write
      pull-requests: write
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          ref: ${{ github.event.inputs.branch }}
          fetch-depth: 0
          persist-credentials: true # need the changelog ref
      - name: Changelog
        env:
          TAG: ${{ github.event.inputs.tag }}
        run: |
          git fetch --tags origin refs/notes/changelog:refs/notes/changelog
          .github/scripts/changelog-update "${TAG}"
      - name: Create Pull Request
        uses: peter-evans/create-pull-request@v8
        with:
          title: "${{ github.event.inputs.tag }} Changelog Bump"
          body: "This is an automated changelog commit."
          commit-message: "chore: ${{ github.event.inputs.tag }} changelog bump"
          branch: "ready-${{ github.event.inputs.tag }}"
          signoff: true
          delete-branch: true
