---
name: Release
# releaes occurs when a v0.* tag is pushed to the repository
# a release will be created consisting of the change log details.
# github managed documentation will be pushed

on:
  push:
    tags:
      - v0.*

jobs:
  release:
    name: Release
    runs-on: 'ubuntu-latest'
    steps:
      - name: Setup
        run: |
          tag=`basename ${{ github.ref }}`
          cat <<.
          ::set-env name=TAG::${tag}
          .
      - name: Checkout
        uses: actions/checkout@v2
        with:
          fetch-depth: 0
      - name: ChangeLog
        run: |
          curl -o git-chglog -L https://github.com/git-chglog/git-chglog/releases/download/0.9.1/git-chglog_linux_amd64
          chmod u+x git-chglog
          echo "creating change log for tag: $TAG"
          ./git-chglog "${TAG}" > "${{github.workspace}}/changelog"
      - name: Create Release
        uses: actions/create-release@latest
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
        with:
          tag_name: ${{ github.ref }}
          release_name: ${{env.TAG}} Release
          body_path: ${{github.workspace}}/changelog
          prerelease: ${{ contains(env.TAG, 'alpha') || contains(env.TAG, 'beta') || contains(env.TAG, 'rc') }}

  deploy-documentation:
    runs-on: ubuntu-latest
    needs: [release]
    steps:
      - name: Checkout
        uses: actions/checkout@v2

      - name: Setup mdBook
        uses: peaceiris/actions-mdbook@v1
        with:
          mdbook-version: '0.3.5'

      - name: mdBook Build
        run: mdbook build --dest-dir ./book/$(basename ${GITHUB_REF})

      - name: Deploy
        uses: peaceiris/actions-gh-pages@v2
        env:
          ACTIONS_DEPLOY_KEY: ${{ secrets.ACTIONS_DEPLOY_KEY }}
          PUBLISH_BRANCH: gh-pages
          PUBLISH_DIR: ./book
        with:
          keepFiles: true
