---
on:
  workflow_dispatch: {}
  schedule:
    # Run weekly
    - cron: '42 5 * * 1'

jobs:
  test_schedule:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/setup-go@v3
        with:
          check-latest: true
          go-version: '>=1.17'
      - uses: actions/checkout@v3
      - run: go test ./test/periodic -enable
